<div class="parallax">
  <div id="catchy">
    <h1>確かな技術と自由な発想、<br>新しいライフスタイルをご提案します。</h1>
  </div>
</div>

<div class="course-intro">
  <div class="introduce">
    <h3>美容室まどんなは<br>愛知県一宮市の美容院・美容室・ヘアサロンです。</h3>
    <div class="bg-holder">
      <div class="place-image">
        <img class="rogo on" src="/rogo-tp.png" alt="美容室まどんな">
      </div>
    </div>
    <div class="intro-sentence">
      <h4>お陰様で美容室まどんな は、平成を駆け抜け31周年を迎えることが出来ました。<br>新元号に向かい、一度出発点に戻り、<br>お客様の落ち着ける空間、リラックスと笑顔の提供が出来るよう、<br>この度、<span>3/13日にリニューアルOPEN</span>致しました。<br>益々クオリティの高い技術を日々勉強しお客様に喜んで頂けるよう<br>頑張ってまいりたいと思います。<br>これからも、美容室まどんなをよろしくお願い致します。<br>ご来店の際には、ぜひ当店クーポンをご利用の上、御予約、御来店<br>店員一同、心よりお待ち致しております。</h4>
      <div class="btn-wrapper">
        <p class="btn book">ご予約はこちら</p>
      </div>
    </div>
  </div>
</div>
