<div class="wrapper">
  <table>
      <tr>
          <th>一般カット</th>
          <th class="popular"><span class="inner"><span class="no1">人気No.1</span>中高生カット</span></th>
          <th>小学生カット</th>
          <th>幼児カット</th>
      </tr>
      <tr>
          <td>¥4,000</td>
          <td class="popular">¥3,500</td>
          <td>¥2,500</td>
          <td>¥2,000</td>
      </tr>
      <tr>
          <td><a href="#">申し込み</a></td>
          <td><a href="#">申し込み</a></td>
          <td><a href="#">申し込み</a></td>
          <td><a href="#">申し込み</a></td>
      </tr>
  </table>

  <hr>
  <div class="content-wrapper">
    <h3>ヘアカラー</h3>
    <div class= "clearfix box_wrap">
      <div class="price-content">
          <ul>
            <li>10トーンまで</li>
            <li>12トーンまで</li>
            <li>ソフトブリーチ</li>
            <li>ウイービング</li>
          </ul>
      </div>
      <div class="price-content">
          <ul>
            <li>+￥2800</li>
            <li>+￥3000</li>
            <li>+￥4000</li>
            <li>+￥5500</li>
          </ul>
      </div>
    </div>
  </div>
</div>
